.container {
  display: flex; /*Pone en "linea" los elementos*/
  height: 100px;
  padding-left: 2rem; /*Separo del borde de la pantalla todo el container*/
  text-align: center; /*Con estas dos puedo alinear cualquier elemento*/
  align-items: center; /*Con estas dos puedo alinear cualquier elemento*/
}

.container h3 {
  /*Gracias a esto puedo modificar los elementos hijos (en este caso h3) dentro de otro elemento padre*/
  margin-bottom: 0; /*Con estos margenes puedo alinear como me guste, en este caso deje el texto alineado*/
  margin-right: 2rem;
}

input {
  border-color: transparent; /*deje la cajita transparente :3*/
  padding: 0.45rem 1rem; /*Le di padding interno al input, altura / anchura*/
  font-size: 1.2rem;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px hsl(205, 70%, 75%);
}

.btn {
  background: hsl(205, 70%, 75%);
  padding: 0.5rem 1rem; /*Dejo el boton igual al input*/
  font-size: 1.25rem;
  border-color: transparent; /*IMPORTANTE para que cualquier boton se vea lindo*/
  text-transform: capitalize; /*Mayuscula a la primer letra de cada palabra*/
  color: #fff;
  cursor: pointer; /*Hace que el mouse se ponga como manito*/
  border-top-right-radius: 0.35rem; /*Hago menos pinchudos los bordes a la izquierda*/
  border-bottom-right-radius: 0.1rem;
}

.btn:active {
  transform: translateY(0.5px); /*Efecto para el boton*/
}

input.error {
  border: 1px solid #ff0000;
}

.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(233.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px), 1fr);
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}

.percent-value {
  color: hsl(209, 61%, 16%);
  text-align: center;
}

.color-value {
  color: hsl(209, 61%, 16%);
  margin-top: 44%;
  text-align: center;
  text-transform: uppercase;
}

.alert {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
  color: hsl(209, 61%, 16%);
}

/*Estos valores son dobles porque es en la condicion que se da para que aparezcan los color-light*/
.color-light .color-value {
  color: #eaeae9;
}

.color-light .percent-value {
  color: #eaeae9;
}

.color-light .alert {
  color: #eaeae9;
}
