::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#b3b3b3, #999999,#808080 );
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(#9e9e9e, #878787, #717171);
}